.env*
.credentials

*.log
*.swp
*.pyc
*.py~
*.orig
__pycache__/
.factorypath
.idea/
.vscode/
.theia/
venv/
Pipfile*
tags
err
get-pip.py
requirements.lock
package-lock.json
supervisord.*

*secrets.yaml
secrets
tags.temp
target/
